# Ignore all TOML and env files
*.toml
# Environments
.env
.envrc
.venv/
.venv
env/
venv/
venv
ENV/
env.bak/
venv.bak/

# Virtual environment folders (common variations)
test_venv/
*venv/
*venv
*.venv/
*.venv
*cpython-313*

/generated_tweets
leaderboard.db